<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>
    <rewrite>
      <rules>
        <rule name="Legacy ERP login" stopProcessing="true">
          <match url="^e/[^/]+/login/?$" />
          <action type="Redirect" url="https://erp.targetpulverizacao.com.br/login" redirectType="Permanent" />
        </rule>
        <rule name="Legacy ERP admin" stopProcessing="true">
          <match url="^e/[^/]+/admin/?$" />
          <action type="Redirect" url="https://erp.targetpulverizacao.com.br/admin" redirectType="Permanent" />
        </rule>
        <rule name="Legacy ERP cliente" stopProcessing="true">
          <match url="^e/[^/]+/cliente/?$" />
          <action type="Redirect" url="https://erp.targetpulverizacao.com.br/cliente" redirectType="Permanent" />
        </rule>
        <rule name="Legacy tenant home" stopProcessing="true">
          <match url="^e/" />
          <action type="Redirect" url="/" redirectType="Permanent" />
        </rule>
        <rule name="SPA fallback" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
